#topbar {
    background-color: #0d1118;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.signout-btn {
    background-color: rgb(164, 223, 188);
    color: #0d1118;
}

.signout-btn:hover {
    background-color: #ffffff;
}

img{
    max-width: 13%;
    max-height: 100%;
}

h2{
    color: #efeff1;
    padding-right: 10%;
    font-size: 100%;
}

.admin-title
{
    color: #efeff1;
}