html, body {
    margin: 0;
    padding: 0;
    height: 100vh !important;
    background-color: #d9d9d9;
}

#application {
    height: 100vh !important;
    min-height: 100vh;
}

#app-container {
    display: flex;
    flex-direction: row;
}

#main-container {
    flex-direction: column;
}

#topbar {
    height: 50px;
}