#admin-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    flex-shrink: 1;
}

.admin-title {
    padding: 0;
    margin: 0;
}

#reports {
    display: flex;
}

#overviews {
    display: flex;
    flex-basis: 0;
}
